In [1]:
import pymongo

In [2]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)

In [6]:
routes = course_client['aggregations']['air_routes']

list(routes.find({}).limit(5))

[{'_id': ObjectId('56e9b39b732b6122f877fa96'),
  'airline': {'id': 470, 'name': 'Air Burkina', 'alias': '2J', 'iata': 'VBW'},
  'src_airport': 'OUA',
  'dst_airport': 'LFW',
  'codeshare': '',
  'stops': 0,
  'airplane': 'CRJ'},
 {'_id': ObjectId('56e9b39b732b6122f877fa95'),
  'airline': {'id': 470, 'name': 'Air Burkina', 'alias': '2J', 'iata': 'VBW'},
  'src_airport': 'OUA',
  'dst_airport': 'DKR',
  'codeshare': '',
  'stops': 0,
  'airplane': 'M87'},
 {'_id': ObjectId('56e9b39b732b6122f877fa39'),
  'airline': {'id': 410, 'name': 'Aerocondor', 'alias': '2B', 'iata': 'ARD'},
  'src_airport': 'DME',
  'dst_airport': 'UUA',
  'codeshare': '',
  'stops': 0,
  'airplane': 'CR2'},
 {'_id': ObjectId('56e9b39b732b6122f877fa7a'),
  'airline': {'id': 8359,
   'name': 'Star Peru (2I)',
   'alias': '2I',
   'iata': '\\N'},
  'src_airport': 'LIM',
  'dst_airport': 'TPP',
  'codeshare': '',
  'stops': 0,
  'airplane': '142 146'},
 {'_id': ObjectId('56e9b39b732b6122f877fa37'),
  'airline': {'id': 410, 'name': 'Aerocondor', 'alias': '2B', 'iata': 'ARD'},
  'src_airport': 'DME',
  'dst_airport': 'TGK',
  'codeshare': '',
  'stops': 0,
  'airplane': 'CR2'}]

In [7]:
alliances = course_client['aggregations']['air_alliances']

list(alliances.find({}).limit(5))

[{'_id': ObjectId('5980bef9a39d0ba3c650ae9b'),
  'name': 'Star Alliance',
  'airlines': ['Air Canada',
   'Adria Airways',
   'Avianca',
   'Scandinavian Airlines',
   'All Nippon Airways',
   'Brussels Airlines',
   'Shenzhen Airlines',
   'Air China',
   'Air New Zealand',
   'Asiana Airlines',
   'Copa Airlines',
   'Croatia Airlines',
   'EgyptAir',
   'TAP Portugal',
   'United Airlines',
   'Turkish Airlines',
   'Swiss International Air Lines',
   'Lufthansa',
   'EVA Air',
   'South African Airways',
   'Singapore Airlines']},
 {'_id': ObjectId('5980bef9a39d0ba3c650ae9c'),
  'name': 'SkyTeam',
  'airlines': ['Aeroflot',
   'Aerolinias Argentinas',
   'Aeromexico',
   'Air Europa',
   'Air France',
   'Alitalia',
   'China Airlines',
   'China Eastern Airlines',
   'China Southern Airlines',
   'Czech Airlines',
   'Delta Air Lines',
   'Garuda Indonesia',
   'Kenya Airways',
   'KLM',
   'Korean Air',
   'Middle East Airlines',
   'Saudia',
   'TAROM',
   'Vietnam Airlines',
   'Xiamen Airlines']},
 {'_id': ObjectId('5980bef9a39d0ba3c650ae9d'),
  'name': 'OneWorld',
  'airlines': ['Air Berlin',
   'American Airlines',
   'British Airways',
   'Cathay Pacific',
   'Finnair',
   'Iberia Airlines',
   'Japan Airlines',
   'LATAM Chile',
   'LATAM Brasil',
   'Malaysia Airlines',
   'Canadian Airlines',
   'Qantas',
   'Qatar Airways',
   'Royal Jordanian',
   'SriLankan Airlines',
   'S7 Airlines']}]

# Lab: Using ``$lookup``

## For this lab, you'll be using the ``$lookup``.

#### The dataset for this lab can be downloaded by clicking the following links - [air_alliances](https://s3.amazonaws.com/edu-static.mongodb.com/lessons/coursera/aggregation/air_alliances.json), [air_routes](https://s3.amazonaws.com/edu-static.mongodb.com/lessons/coursera/aggregation/air_routes.json) - for upload to your own cluster.

### Question

Which alliance from ``air_alliances`` flies the most **routes** with either a
Boeing 747 or an Airbus A380 (abbreviated 747 and 380 in ``air_routes``)?

**Note**: Begin from the ``air_routes`` collection!

In [4]:
# predicate is given this lab
predicate = {
  "$match": {
      "routes.airplane": {"$regex": "747|380"}
  }
}

In [19]:
lookup = {
    "$lookup": {
        "from": "air_routes",
        "localField": "airlines",
        "foreignField": "airline.name",
        "as": "routes"
    }
}

In [ ]:
unwinding = {
    
}

In [ ]:
grouping = {

}

In [ ]:
sorting = {
    
}

In [37]:
pipeline = [
    {
        "$unwind": "$airlines"
    },
    {
        "$lookup": {
            "from": "air_routes",
            "localField": "airlines",
            "foreignField": "airline.name",
            "as": "routes"
        }
    },
    {
        "$unwind": "$routes"
    },
    {
        "$match": {
            "routes.airplane": { "$in": ["747", "380"] }
        }
    },
    {
        "$group": {
            "_id": "$name",
            "num": { "$sum": 1 }
        }
    },
    {
        "$sort": {
            "num": -1
        }
    }
]

display(list(alliances.aggregate(pipeline, allowDiskUse = True)))

[{'_id': 'OneWorld', 'num': 10},
 {'_id': 'SkyTeam', 'num': 8},
 {'_id': 'Star Alliance', 'num': 5}]